 image background 
body {
    background-image:url("fire-and-water-boxing .jpg") !important;
    /* background: color rgb(94, 94, 202); */

} 
.h1 {
    position: center;
}
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
} */
/* comment page */
.user_name {
    font-size: 14px;
    font-weight: bold;
}

.comments-list .media {
    border-bottom: 1px dotted #ccc;
}

html {
    height: 100%;
}


 * {
     box-sizing: border-box;
 }

 /* Add a gray background color with some padding */
  body {
     font-family: Arial;
     font-color: black;
     padding: 20px;
     background: lightgray;
 } 

 /* Header/Blog Title */
 .header {
     padding: 30px;
     font-size: 40px;
     font-color: black
     text-align: center;
     background: gray;
 }

 /* Create two unequal columns that floats next to each other */
 /* Left column */
 .leftcolumn {
     float: left;
     width: 75%;
 }

 /* Right column */
 .rightcolumn {
     float: left;
     width: 25%;
     padding-left: 20px;
 }

 /* Fake image */
 .fakeimg {
     background-color: gray;
     width: 100%;
     padding: 20px;
 }

 /* Add a card effect for articles */
 .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
 }

 /* Clear floats after the columns */
 .row:after {
     content: "";
     display: table;
     clear: both;
 }


 /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other
        instead of next to each other */
 @media screen and (max-width: 800px) {

     .leftcolumn,
     .rightcolumn {
         width: 100%;
         padding: 0;
     }
 
    .contact-form 
    body{
        margin: 0;
        padding: 0;
        background: url("boxing image .jpg");
        background-size: cover;
    }
    .contact-form{
        width:85%;
        max-width:600px;
        background: #f1f1f1;
        position: absoulute;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        padding: 30px 40px;
        box-sizing: border-box;
        border-radius:8px;
        text-align: center;
        box-shadow: 0 0 20px #000000b3;
        font-family: "Montsettat" , sana-serif;
    }
    .contact-form h1{
        margin-top: 0;
        font-weight: 200;
    }
    .txtb{
        border:1px solid gray;
        margin: 8px 0;
        padding:12px 18px;
        border-radius:8px;
    }
    .txtb label{
        display: black;
        text-align: block;
        text-align: left;
        color: #333;
        text-transform: uppercase;
        font-size:14px;
    }
    .txtb input,.txtb textarea{
        width: 100%;
        border: none;
        background:none;
        outline: none;
        font-size:18px;
        margin-top: 6px;
    }
    .btn{
        display:inline-block;
        background: #9b59b6;
        padding:14px 0;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 8px;
        width:100%;
    }
